html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 3rem;
    min-height: 100%;
}

.wrapper {
    margin-left: 200px;
    margin-right: 200px;
}

header {
    background-color:#294464;
    color: white;
}

.logo-box {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left:20px;

}

.logo {
    display: inline-block;
    vertical-align:middle;
}

.logo-text {
    display: inline-block;
    font-size: 20px;
    vertical-align:middle;
}

.logo-text-store{
    color: #F8A001;
}

.main-box {
    margin-bottom: 30px;
}

.main-box .nav {
    display: inline-block;
    vertical-align: top;
    background-color: #172b3f;
    width: 200px;
    color:#fff;
    margin-bottom: 20px;
}

.main-box .nav .nav-home{
    font-weight: 200;
    text-align: center;
    padding: 7px;
}
.main-box .nav .nav-category{
    font-weight: 200;
    text-align: center;
    padding: 7px;
}

.main-box .nav ul{
    padding-left:5px;
}
.main-box .nav ul li{
    padding-left: 5px;
    min-height: 15px;
    margin: 5px;
    border:1px solid green;
    background-color: red;
    cursor: pointer;
}
.main-box .nav ul.category{

}
.main-box .nav ul p.categ-text{
    display: inline-block;
}

.main-box .nav ul i.book-icon{
    display: inline-block;
    font-size: 30px !important;
}

.main-box .content {
    display: inline-block;
    width: calc(100% - 205px);
    text-align: center;
    margin-bottom: 20px;
}

.main-box .content p.author {
    font-style: italic;
}
.main-box .content p.description{
    display: inline-block;
    width: calc(100% - 250px);
}
.main-box .content img.book-pic {
    width: 200px;
    height: 250px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    vertical-align: top;
}

footer {
    width:calc(100% - 400px);
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    text-align: center;
    background-color:#294464;
    padding: 15px;
    margin-left: 200px;
    margin-right: 200px;
}
footer p.names {
    margin: 5px;
    color: #F8A001;
}

