html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 3rem;
    min-height: 100%;
}

.wrapper {
    margin-left: 200px;
    margin-right: 200px;
}

header {
    display: inline-block;
    width: 100%;
    background-color:#294464;
    color: white;
}

.logo-box {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left:20px;
    cursor: pointer;
}

.logo {
    display: inline-block;
    vertical-align:middle;
}

.logo-text {
    display: inline-block;
    font-size: 20px;
    vertical-align:middle;
}

.logo-text-store{
    color: #F8A001;
}

.header-navigation {
    display: inline-block;
    margin-left: 28%;
}

.header-navigation p{
    display: inline-block;
    padding-right: 10px;
    cursor: pointer;
}

.header-buttons {
    float: right;
    padding-top: 12px;
    padding-bottom: 15px;
    margin-right: 20px;
    text-align: center;
}

.login-register-buttons {
    display: inline-block;
    padding-bottom: 3px;
}

.login_redirect{
    display: inline-block;
    cursor: pointer;
    padding-right: 2px;
}

.logout_redirect{
    cursor: pointer;
    padding-bottom: 3px;
}

.register_redirect {
    display: inline-block;
    cursor: pointer;
    padding-left: 2px;
}

.add_book_redirect {
    cursor: pointer;
    padding-top: 3px;
    
}

.main-box {
    margin-bottom: 30px;
}

.main-box .nav {
    display: inline-block;
    vertical-align: top;
    background-color: #172b3f;
    width: 200px;
    color:#fff;
    margin-bottom: 20px;
}

.main-box .nav .nav-home{
    font-weight: 200;
    padding: 7px;
    font-size: 21px;
    cursor: pointer;
}
.main-box .nav .nav-home .home-icon{
    font-size: 22px;
}
.main-box .nav .nav-category{
    font-weight: 200;
    text-align: center;
    padding: 7px;
    background-color: #294464;
}

.main-box .nav ul .categ-in-text-wrapper{
    padding-left: 5px;
    cursor: pointer;
}

.main-box .nav ul.category{
    /* padding-top: 2px; */
    padding-bottom: 5px;
    margin-bottom: 2px;
    background-color: #294464;
    cursor: default;
}
.main-box .nav ul .categ-in-text-wrapper p.categ-text{
    padding-left: 3px;
    display: inline-block;
    font-weight: bold;
}

.main-box .nav ul .categ-in-text-wrapper i.categ-icon{
    display: inline-block;
    font-size: 30px !important;
}

.main-box .nav ul .liDiv li {
    display: inline-block;
    padding: 7px;
    cursor: pointer;
    width: 100%;
}

.main-box .nav ul .liDiv li:hover{
    color: #F8A001;
}

.main-box .nav ul .liDiv li.selected{
    background-color: #F8A001;
    font-weight: bold;
}

.main-box .nav ul .liDiv li.selected:hover{
    color:white;
}



.main-box .nav ul .liDiv li .book-icon {
    vertical-align:top;
    display: inline-block;
    font-size: 15px !important;
    width: 20px;
}

.main-box .nav ul .liDiv li .book-title{
    display: inline-block;
    width:calc(100% - 30px);
}


.main-box .content {
    margin-top: 7px;
    display: inline-block;
    width: calc(100% - 205px);
    text-align: center;
    margin-bottom: 20px;
}

.main-box .content p.author {
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 15px;
}
.main-box .content div{
    display: inline-block;
    width: calc(100% - 300px);
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 10px;
    text-align: left;
}

.main-box .content div p {
    margin-bottom: 15px;
}

.main-box .content img.book-pic {
    width: 200px;
    height: 250px;
    display: inline-block;
    margin-bottom: 15px;
    vertical-align: top;
}

.main-box .content .thumbnails-category{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
}

.main-box .content .thumbnails-category div{
    width: 150px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.main-box .content .thumbnails-category div img{
    width: 100px;
    height: 130px;
    margin-bottom: 3px;
}

.main-box .content .thumbnails-category div h6 {
    width: 100px;
}

.main-box .content textarea {
    resize: none;
    width: 250px;
    height: 100px;
}

footer {
    width:calc(100% - 400px);
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    text-align: center;
    background-color:#294464;
    padding: 15px;
    margin-left: 200px;
    margin-right: 200px;
}
footer p.names {
    margin: 5px;
    color: #F8A001;
}
