html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 3rem;
    min-height: 100%;
}

header {
    background-color: red;
    color: white;
}

.logo-box {
    display: inline-block;
    background-color: blue;
}

.logo {
    display: inline-block;
}

.logo-text {
    display: inline-block;
    font-size: 20px;
}

.book-pic {
    width: 200px;
    height: 250px;
}

.wrapper {
    margin-left: 200px;
    margin-right: 200px;
    height: 100px;
}

.nav {
    display: inline-block;
    width: 300px;
}

.content {
    display: inline-block;
}

.author {
    font-style: italic;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    text-align: center;
    background: rgb(55, 55, 148);
    padding: 15px;
}
.names {
    margin: 5px;
}
